#product {
  padding: 20px;
  background-color: #f6fae8;
  color: #050038;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: auto;
  /* justify-content: center;
  align-content: center; */
  gap: 10px;
}

.product-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 600px;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.product-template-box img {
  width: 30%;
  height: 30%;
}

.product-template-box {
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
}

#filter{
  text-align: left;
}

.filter-item:hover{
  background-color: white;
  font-size: 1.1em;
}